footer
  .footer
    a(href='index.html')
      .footer_logo
        div Аренда
    .footer_links
      a(href='index.html') Главная
        div >
      a(href='#') Каталог техники
      a(href='#') Услуги
      br
      a(href='#') Выполненные работы
      a(href='#') О компании
      a(href='#') Контакты
    .footer_right
      p.footer_right_up ©Айтекс start 2016
      p.footer_rights_down
        span
          img(src='images/footer-itex.png')
        a(href='http://www.itexweb.ru/') itexstart.ru  

