.goods_main_block_information
  .goods_main_block_information_title Информация
  .goods_main_block_information_arrow.goods_main_block_arrow_down
.goods_main_block_text
  | JCB 4CX погрузчик экскаватор имеет хорошо продуманную эргономичную кабину. Ее остекление составляет 6,4 кв. м, что обеспечивает хороший обзор при работе оператора. Сидение имеет несколько видов регулировок, позволяющих подобрать оптимальное положение. Для обеспечения комфортного температурного режима в кабине установлен кондиционер. Вся кабина отделана качественными шумопонижающими материалами. 