.goods_main_block_description
  .goods_main_block_description_title Характеристики
  .goods_main_block_description_arrow.goods_main_block_arrow_up
.goods_main_block_radio
  .goods_main_block_radio_check
    .goods_main_block_radio_box
      .goods_main_block_radio_box_this.goods_main_block_radio_box_this_check
    .goods_main_block_radio_text Характеристика 1  
  .goods_main_block_radio_check
    .goods_main_block_radio_box
      .goods_main_block_radio_box_this
    .goods_main_block_radio_text Характеристика 2
  .goods_main_block_radio_check
    .goods_main_block_radio_box
      .goods_main_block_radio_box_this
    .goods_main_block_radio_text Характеристика 3  