header
  .header
    .header_left
      a(href='index.html')
        .header_left_rent 
          div Аренда
      .header_left_text 
        | Услуги строительной техники
    .header_right  
      | г. Екатеринбург, ул.Маяковского, 25
      br
      | +7 (343) 222-20-17