doctype html
html
  head
    include head.pug
  body
    .up_line
    include header.pug
    include navigation.pug
    include slider.pug
    include goods.pug
    .service_title Услуги
    include service.pug
    include tasks.pug
    iframe.maps(src="https://yandex.ru/map-widget/v1/-/CBQXF8tP0B" width="100%" height="430" frameborder="0")
    include footer.pug