.navigation_wrapper
  .navigation
    a(href='index.html').navigation_logo  
    a(href='index.html').navigation_link.navigation_active Каталог Техники
    a(href='#').navigation_link Услуги
    a(href='#').navigation_link Выполненные Работы
    a(href='#').navigation_link О Компании
    a(href='#').navigation_link Контакты
