.service_wrapper
  .service
    .service_block
      img(src='images/helmet.png')
      .service_block_text
        p.service_block_text_title Засыпка Траншей
        p.service_block_text_text
        | Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
    .service_block
      img(src='images/helmet.png')
      .service_block_text
        p.service_block_text_title Вывоз Мусора
        p.service_block_text_text
        | Вывоз мусора — составляющая деятельности производств и бытовых предприятий
    .service_block
      img(src='images/helmet.png')
      .service_block_text
        p.service_block_text_title Доставка
        p.service_block_text_text
        | Отсев образуется после разработки твердых горных пород и является востребованным материалом в строительстве.
    .service_block
      img(src='images/helmet.png')
      .service_block_text
        p.service_block_text_title Подъем Грузов
        p.service_block_text_text
        | Выполнение широкого спектра высотных операций сложно представить без специализированной техники.           
