.slider_wrapper
  .slider
    .slider_offer
      .slider_offer_text_1
        span.slider_offer_text_first Профессиональная техника
        br
        span.slider_offer_text_up в аренду от 
        span.slider_offer_text_price 15000
        br
        .slider_offer_text_bold руб./сутки
      .slider_offer_text_2
      .slider_offer_text_3
      .slider_offer_ratio
        .slider_offer_ratio_check
        .slider_offer_ratio_check 
        .slider_offer_ratio_check  
    .slider_images    
      .slider_frame#slider_frame_1
      .slider_frame#slider_frame_2
      .slider_frame#slider_frame_3
    .slider_navigation
      .slider_navigation_left
      .slider_navigation_right