.tasks_wrapper
  .tasks
    .tasks_title Задачи
    p.tasks_text Выбрать трактор
      span.tasks_pen
        img(src='images/pen.png' alt='ручка')
      span.tasks_close
        img(src='images/close.png' alt='закрыть')  
    p.tasks_text Купить трактор
      span.tasks_pen
        img(src='images/pen.png' alt='ручка')
      span.tasks_close
        img(src='images/close.png' alt='закрыть')  
    p.tasks_new
      input(type='text' autocomplete='off')
      span.tasks_ok
        img(src='images/ok.png' alt='создать')  
      span.tasks_newclose
        img(src='images/close.png' alt='закрыть')          

